body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(to top right, #3399ff 0%, #ff0066 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-basics {
    display: flex;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 25px;

    img {
        width: 150px;
        height: 150px;
    }

    div {
        padding-left: 25px;
    }

    h1 {
        font-size: 24px;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    ul {
        list-style-type: none;
        padding: 0;

        li {
            margin: 5px auto;
        }
    }
}


@media only screen and (max-width: 480px) {
    .app-basics {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        div {
            padding: 0;
        }

        h1 {
            font-size: 18px;
            padding-top: 15px;
            text-align: center;
        }

        li {
            margin: 10px auto;
        }
    }
}